.libs
.*.swp
[Mm]akefile
[Mm]akefile.in
aclocal.m4
*.o
*.lo
*.la
# doc's stuff:
*.info
*.aux
*.cp
*.fn
*.fns
*.ky
*.log
*.pdf
*.ps
*.pg
*.toc
*.tp
*.vr
#
config.*
configure
stamp-h1
test
texinfo.tex
COPYING
INSTALL
install-sh
libtool
ltmain.sh
mdate-sh
missing
autom4te.cache/
*.dat
compile
test-driver
tests/test.trs
